
<section class="experience-section" id="experience">
    <div class="container">
        <h2 class="section-title">Experience</h2>

        <div class="timeline">

            
            <div class="timeline-item">
                <!-- <div class="timeline-dot"></div> -->
                <div class="timeline-content">
                    <h3 class="job-title">System Engineer – Infosys</h3>
                    <p class="job-duration">July 2022 – March 2025</p>
                
                    <ul>
                        <li>Worked on full-stack projects from scratch requiring expertise in Angular and ASP.NET with
                            SQL.</li>
                        <li>Contributed to providing software solutions to clients with optimum client satisfaction.
                        </li>
                        <li>Implemented functionalities to handle various data requests (CRUD operations) and business
                            logic.</li>
                        <li>Provided proactive solutions while solving bugs and issues to meet client’s requirements.
                        </li>
                        <li>Developed and implemented a scalable Rest API using ASP.NET Web API.</li>
                        <li>Developed and maintained full-stack web applications using Angular, ASP.NET Core, and SQL.
                        </li>
                        <li>Improved application performance by optimizing database queries and refactoring inefficient
                            code blocks</li>
                        <li>Worked on full-stack projects from scratch requiring expertise in Angular and ASP.NET with
                            SQL.</li>

                    </ul>
                </div>
            </div>


        </div>
    </div>
</section>