.section {
    min-height: 100vh;
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: column;
    padding: 200px 20px;
    text-align: center;
    scroll-snap-align: start;
    transition: all 0.8s ease-in-out;
    opacity: 0;
    transform: translateY(50px);
}

.section.visible {
    opacity: 1;
    transform: translateY(0);
    transition: all 1s ease-in-out;
}

h2 {
    font-size: 2.2rem;
    color: #22c55e;
    margin-bottom: 1rem;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 30px;
    margin-top: 30px;
}

/* .skill-card {
    background: #1e293b;
    padding: 20px;
    border-radius: 12px;
    transition: 0.3s;
} */

.skill-card:hover {
    transform: translateY(-5px);
    background: #22c55e;
    color: #0f172a;
}

.skill-card img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}