<app-navbar></app-navbar>


<main class = "main-container">
  <router-outlet></router-outlet>
  
  
</main>


<div class="social-sidebar">
  <ul>
    <li><a href="https://github.com/mahesh639" target="_blank"><i class="fa-brands fa-github"></i></a></li>
    <li><a href="https://www.linkedin.com/in/mahesh-gouda-2469981b8/" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
    <li><a href="https://x.com/MaheshG25690129?t=IRe-Idgd0OXnzv_uBHSOUA&s=35" target="_blank"><i class="fa-brands fa-x-twitter"></i></a></li>
  </ul>
</div>

<div class="email-sidebar">
  <a href="mailto:maheshgouda625&#64;gmail.com">maheshgouda625&#64;gmail.com</a>
</div> 

<!-- <app-about></app-about> -->

<app-footer></app-footer>