<section class="projects" id="projects">
  <h2 class="section-title">Things I've worked on</h2>

  <div
    class="project"
    *ngFor="let project of projects; let i = index"
    [class.reverse]="i % 2 !== 0"
  >
    <div class="project-image">
      <img [src]="project.image" [alt]="project.title" width="300" height="300" />
    </div>

    <div class="project-content">
      <p class="featured">Featured Project</p>
      <h3>{{ project.title }}</h3>
      <ul>
        <li *ngFor="let point of project.details">{{ point }}</li>
      </ul>

      <p class="tech">
        {{ project.tech }}
      </p>

      <!-- <div class="links">
        <a [href]="project.liveDemo" target="_blank" class="btn">Live Demo</a>
        <a [href]="project.code" target="_blank" class="btn-outline">View Code</a>
      </div> -->
    </div>
  </div>
</section>

