html,
body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    scroll-snap-type: y mandatory;
    font-family: "Poppins", sans-serif;
    background-color: #0a0a0a;
    color: #e5e5e5;
}

.section {
    min-height: 100vh;
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: column;
    padding: 200px 20px;
    text-align: center;
    scroll-snap-align: start;
    transition: all 0.8s ease-in-out;
    opacity: 0;
    transform: translateY(50px);
}

.section.visible {
    opacity: 1;
    transform: translateY(0);
    transition: all 1s ease-in-out;
}

h2 {
    font-size: 2.2rem;
    color: #22c55e;
    margin-bottom: 1rem;
}

/* ===== HERO SECTION ===== */
.hero {
    background: linear-gradient(135deg, #0a0a0a);
}



.hero-left {
    max-width: 600px;
    text-align: left;
}


.greeting {
    color: #22c55e;
    font-weight: 600;
    margin-bottom: 12px;
    font-size: 1rem;
}


.hero-left h1 {
    font-size: clamp(48px, 8vw, 72px);
    font-weight: 800;
    color: #cbd5e1;
    margin-bottom: 8px;
}


.hero-left h2 {
    font-size: clamp(28px, 5vw, 36px);
    font-weight: 700;
    color: #9ca3af;
    margin-bottom: 24px;
}


.subtitle {
    color: #9ca3af;
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 30px;
    max-width: 500px;
}

/* Button */
.btn {
    padding: 8px 16px;
    border: 1px solid #22c55e;
    border-radius: 6px;
    color: #22c55e;
    background: transparent;
    transition: all 0.3s ease;
}

.btn:hover {
    background: #22c55e;
    color: #0a0a0a;
    transform: translateY(-2px);
}

/* ===== ABOUT SECTION ===== */
.content {
    max-width: 800px;
    text-align: left;
    margin-left: 60px;

}


.content h2 {
    color: #22c55e;
    font-size: 1.8rem;
    margin-bottom: 20px;
}


.content p {
    color: #cbd5e1;
    font-size: 1rem;
    line-height: 1.6;
}


/* ===== SKILLS ===== */
.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 30px;
    margin-top: 30px;
}

.skill-card {
    
    padding: 20px;
    border-radius: 12px;
    transition: 0.3s;
}

.skill-card:hover {
    transform: translateY(-5px);
    background: #22c55e;
    color: #0f172a;
}

.skill-card img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

/* ===== EXPERIENCE ===== */
.timeline {
    max-width: 700px;
    text-align: left;
}

.timeline-item {
    margin-bottom: 30px;
}

.timeline-item h3 {
    color: #e2e8f0;
    font-size: 1.3rem;
}

.timeline-item .time {
    color: #22c55e;
    font-weight: 600;
}

.timeline-item p {
    color: #94a3b8;
}

/* ===== PROJECTS ===== */
.section-title {
    color: #22c55e;
    font-size: 2rem;
    margin-bottom: 70px;
    text-align: center;
}

.projects {

    color: #d1d5db;
    padding: 100px 80px;
}



.project.reverse {
    flex-direction: row-reverse;
}

.project-image {
    flex: 1;
    min-width: 320px;
    text-align: justify;
}

.project-image img {
    width: 80%;
    max-width: 450px;
    border-radius: 10px;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.project-image img:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 25px rgba(34, 197, 94, 0.2);
}

.project-content {
    text-align: left;
    flex: 1;
    min-width: 320px;
}

.featured {
    color: #22c55e;
    font-size: 0.9rem;
    text-transform: uppercase;
    margin-bottom: 8px;
    letter-spacing: 1px;
}

.project-content h3 {
    color: #fff;
    font-size: 1.6rem;
    margin-bottom: 20px;
}

.project-content ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-bottom: 15px;
}

.project-content li {
    color: #9ca3af;
    margin-bottom: 10px;
    line-height: 1.6;
}

.tech {
    font-size: 0.9rem;
    color: #9ca3af;
    margin-bottom: 15px;
}

.links {
    display: flex;
    gap: 15px;
}

.btn {
    background-color: #22c55e;
    color: #000;
    padding: 8px 16px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}

.btn:hover {
    background-color: #16a34a;
}

.btn-outline {
    border: 1px solid #22c55e;
    color: #22c55e;
    padding: 8px 16px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}

.btn-outline:hover {
    background-color: #22c55e;
    color: #000;
}


/* ===== CONTACT ===== */
.contact p {
    color: #cbd5e1;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

input,
textarea {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 16px;
    border: none;
    border-radius: 8px;
    background-color: #0b5cff;
    color: #fff;
    cursor: pointer;
}

button:disabled {
    background: #999;
}

/* ===== FOOTER ===== */
.footer {
    padding: 20px;
    text-align: center;
    background: #0f172a;
    color: #94a3b8;
    font-size: 0.9rem;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 868px) {
    .hero-content h1 {
        font-size: 2.2rem;
    }

    .section {
        flex-direction: column;
        text-align: left;
        justify-content: center;
        padding: 40px 18px;
    }

    body {
        scroll-snap-type: none;
    }
}